<style>
    label{
        margin-top: 5px;
    }
</style>
<div class="container-fluid">
    <section class="section">
    <!--Section heading-->
    <h2 class="section-heading h1 pt-4">Create new project</h2>
    <!--Section description-->
    <p class="section-description">Create your project and share them to other easily!</p>
    <div class="row">
        <!--Grid column-->
        <div class="col-md-8 col-xl-9">
            <form id="contact-form" name="contact-form" action="/create" method="POST">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <label for="name" class="">Name project</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Type name project display.">
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <label for="email" class="">Your email</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="We'll contact you by this email.">
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="subject" class="">Category</label>
                            <select name="" id="" class="form-control">
                                <option value="0">IT solution</option>
                                <option value="1">Maketing</option>
                                <option value="2">Sale</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="message">Description</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Description project."></textarea>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="message">Privacy</label>
                            <br>
                            <input type="radio"> Public
                            <input type="radio"> Private
                        </div>
                    </div>
                </div>
                <!--Grid row-->
            </form>
            <div class="center-on-small-only">
                <a class="btn btn-primary" onclick="alert('Created')">Create</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->
    </div>
</section>
</div>